html{
    font-size: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    height: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
}

*, *::before , *::after{
    -moz-box-sizing: inherit;
    -ms-box-sizing: inherit;
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
} 

body{
    background-color: $bgbody;
    font-family: $f-primary; 
    margin: 0px;
    padding: 0px;
    line-height: 1.3;
    color: $linktext;
    @include font-size(13);
    height: 100%;

    @include bp-max(mobilePortrait){
        overflow-x: hidden;
    }

    @include bp(mobilePortrait){
        @include bp-max(xsmall){
            
        }
    }
    overflow-x: hidden;
}

a, a:visited, a:hover{
    text-decoration: none;
}

table { 
    border-collapse: collapse;
     border-spacing: 0; 
}

fieldset, img { 
    border: 0; 
}

address, caption, cite, code, dfn, em, th, var { 
    font-style: normal; 
    font-weight: normal; 
}

ol, ul { 
    list-style: none;
     margin: 0px;  
     padding: 0px;
}

.wrapper{
    margin: 0 auto;
    
    @include bp-max(mobilePortrait){
        max-width: 290px;
    }
    @include bp(mobilePortrait){
        @include bp-max(xsmall){
            max-width: 320px;
        }
    }
    @include bp(large){
        width: 73.125%;
    }
}

//Visibility
.hide-for-mobile{
    @include bp-max(mobilePortrait){
        display: none;
    }
    @include bp(mobilePortrait){
        @include bp-max(xsmall){
            display: none;
        }
    }
}

