html{
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before , *::after{
    box-sizing: inherit;
} 

body{
    background-color: $bgbody;
    margin: 0px;
    padding: 0px;
    line-height: normal;
    @include font-size(14);
}

a, a:visited, a:hover{
    text-decoration: none;
}

.wrapper{
    margin: 0 auto;
}