header{
    background-image: url(/Projects/nedahost/assets/images/nedahost.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width:100vw;
    height: 100vh;
    max-width :100%;
    .outerheader{
        width:100vw;
        height: 100vh;
        max-width :100%;
        color: $hdcolor ;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        @include bp-max(mobilePortrait){
            flex-direction: row;
            align-items: stretch;
        }
        @include bp(mobilePortrait){
            @include bp-max(xsmall){
                flex-direction: row;
                align-items: stretch;
            }
        }


        @include bp(large){
            flex-direction: column;
        }
        .topheader{
            order: 1;
            align-self: flex-start;
            @include bp-max(mobilePortrait){
                margin: 0 auto;
            }
            @include bp(mobilePortrait){
                @include bp-max(xsmall){
                    margin: auto;
                }
            }

            @include bp(large){ 
                margin:0 auto;
            }
            height: 0;
            #logo{
                text-align: center;
                .svg-logo{
                    width: 15rem;
                    height: auto;
                }
            }
        }
        .middleheader{
            order: 2;
            text-align: center;
            margin: auto;
            align-self: center;
            &__text{
                @include bp-max(mobilePortrait){
                    @include font-size(15);
                }
            }
            @include bp(mobilePortrait){
                @include bp-max(xsmall){
                    @include font-size(17);
                }
            }

            &__centertext{
                @include bp-max(mobilePortrait){
                    @include font-size(30);
                }
                @include font-size(40);
                padding: 10px 0;
            }
            
            &__bottomtext{
                @include bp-max(mobilePortrait){
                    @include font-size(12);
                }
                @include bp(mobilePortrait){
                    @include bp-max(xsmall){
                        @include font-size(13);
                    }
                }
                
                @include font-size(13);
            }
        }
        .bottomheader{
            order: 3;
            align-self: flex-end;
        }
    }
}