header{
    background-image: url(/Projects/nedahost/assets/images/nedahost.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width:100vw;
    height: 100%;
    max-width :100%;
    .outerheader{
        height: 100%;
        color: $hdcolor;
        display: grid;
        flex-wrap: wrap;
        justify-content: center;
        @include bp-max(mobilePortrait){
            flex-direction: row;
            align-items: stretch;
        }
        @include bp(mobilePortrait){
            @include bp-max(xsmall){
                flex-direction: row;
                align-items: stretch;
            }
        }

        @include bp(large){
            flex-direction: column;
        }
        .topheader{
            order: 1;
            align-self: flex-start;
            height: 0;
            @include bp-max(mobilePortrait){
                margin: 0 auto;
            }
            
            @include bp(mobilePortrait){
                @include bp-max(xsmall){
                    margin: 0 auto;
                }
            }

            @include bp(large){ 
                margin:0 auto;
            }

            #navbar{

                #logo{
                    text-align: center;
                    position: relative;
                    top: 60px;
                    .svg-logo{
                        width: 15rem;
                        height: auto;
                    }
                }
            }
            
        }
        .middleheader{
            order: 2;
            text-align: center;
            margin: auto;
            align-self: center;
            &__text{
            

            @include bp-max(mobilePortrait){
                    @include font-size(15);
                }
            }
            @include bp(mobilePortrait){
                @include bp-max(xsmall){
                    @include font-size(17);
                }
            }

            @include font-size(30);

            &__centertext{
                @include bp-max(mobilePortrait){
                    @include font-size(30);
                }

                @include bp(mobilePortrait){
                    @include bp-max(xsmall){
                        @include font-size(30);
                    }
                }

                @include font-size(100);
                padding: 10px 0;
            }
            
            &__bottomtext{
                @include bp-max(mobilePortrait){
                    @include font-size(12);
                }
                @include bp(mobilePortrait){
                    @include bp-max(xsmall){
                        @include font-size(13);
                    }
                }
                
                @include font-size(15);
            }
        }
        .bottomheader{
            order: 3;
            align-self: flex-end;
            margin: 0 auto;
            position: relative;
            bottom: 50px;
            a{
                color: $hdcolor;
            }

            @include font-size(15);
        }
    }
}
