

/*******************
** Colors 
*******************/
$bgbody: #000e2f;
$bgmain: #ffffff;



/******************
** Fonts Sizes
******************/

$baseFontSize: 16px;

$f-primary: 'Roboto', sans-serif;
$f-secondary: 'LEMONMILK-Regular', sans-serif;